*{
    align: center;
}
#url{
    align: center;
    text-align: center;
    size: 100px;
    height: 50px;
    width: 600px;
    font-family: Arial;
    font-size: 20px;
    margin-top: 2%;
    margin-left: 35%;
    margin-right: 50%;
}
.btn {
    background: #ffd324;
    background-image: -webkit-linear-gradient(top, #3c8b3b, #11c90e);
    background-image: -moz-linear-gradient(top, #1cc663, #207e41);
    background-image: -ms-linear-gradient(top, #1a922e, #4ade18);
    background-image: -o-linear-gradient(top, #19a958, #49cf3a);
    background-image: linear-gradient(to bottom, hsl(121, 100%, 57%), #6ae063);
    border-radius: 15px;
    font-family: sans-serif;
    color: #ffffff;
    font-size: 29px;
    padding: 10px 20px 10px 20px;
    text-decoration: black;
    margin-top: 2%;
    margin-left: 45%;
    margin-right: 50%;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.mydiv{
    align-self: center;
    align-items: center;
    font-family: "American Typewriter";
    font-size:30px;
    font-style: inherit;
    margin-top: 3%;
    margin-left: 25%;

}
.center{
    font-family: "American Typewriter";
    font-size: 40px;
    margin-left: 30%;
    margin-right: 30%;
    background: #8ed72f;
}