*{
    align: center;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 97vh;
    background: linear-gradient(to bottom, cyan, pink) no-repeat
}
#url{
    align: center;
    size: 100px;
    height: 50px;
    width: 600px;
    font-family: Arial;
    font-size: 25px;
    margin-top: 2%;
    margin-left: 25%;
}
.btn {
    border: 2px solid black;
    background: none;
    color: black;
    font-size: 29px;
    padding: 10px 20px 10px 20px;
    text-decoration: black;
    margin-top: 2%;
    margin-left: 43%;
}

.btn:hover {
    background: rgb(238, 172, 172);
    text-decoration: none;
}

.mydiv{
    align-self: center;
    align-items: center;
    font-family: "American Typewriter";
    font-size:30px;
    font-style: inherit;
    margin-top: 3%;
    margin-left: 25%;

}
.center{
    font-family: "American Typewriter";
    font-size: 40px;
    display: flex;
    color: rgb(46, 45, 45);
}
h1{
    display: inline;
    margin: 50px auto;
    border-bottom: 2px solid rgb(46, 45, 45);;
}
.inp{
    border: 2px solid black;
    padding: 0px 10px;
}
.inp:hover{
    background: rgb(241, 203, 203);
}