* {
  align: center;
}

body {
  background: #34e89e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #34e89e,
    #0f3443
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #34e89e,
    #0f3443
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#url {
  background-color: #def2e4;
  border: 2px solid #195334;
  align: center;
  size: 100px;
  height: 50px;
  width: 600px;
  font-family: Arial;
  font-size: 25px;
  margin-top: 2%;
  margin-left: 25%;
}
.btn {
  background: #ffd324;
  background-image: -webkit-linear-gradient(top, #ffd324, #fab120);
  background-image: -moz-linear-gradient(top, #ffd324, #fab120);
  background-image: -ms-linear-gradient(top, #ffd324, #fab120);
  background-image: -o-linear-gradient(top, #ffd324, #fab120);
  background-image: linear-gradient(to bottom, #ffd324, #fab120);
  border-radius: 10px;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 29px;
  padding: 10px 20px 10px 20px;
  text-decoration: black;
  margin-top: 2%;
  margin-left: 43%;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.mydiv {
  align-self: center;
  align-items: center;
  font-family: "American Typewriter";
  font-size: 30px;
  font-style: inherit;
  margin-top: 3%;
  margin-left: 25%;
  background: inherit;
}
.center {
  color: #ecf87f;
  font-family: "American Typewriter";
  font-size: 40px;
}
